version: '3.9'
services:
  mongodb:
    image: mongo:7
    container_name: offeyrdeals-mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: offeyrdeals-server
    ports:
      - '5000:5000'
    env_file:
      - .env
    depends_on:
      - mongodb

  client:
    build: ./client
    container_name: offeyrdeals-client
    ports:
      - '5173:80'
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - server

volumes:
  mongo-data:
